/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0 5%;
  background: rgb(146,206,231);
  background: radial-gradient(circle, rgba(146,206,231,1) 0%, rgb(76, 129, 167) 100%);
}

.example-container, form, button {
  border-radius: 20px !important;
}

form {
  background: white;
  padding: 20px;
}

h1 {
  color: #ffffff;
  font-size: 40px;
  font-family: sans-serif;
}

